body {
    padding: 50px;
    background-color: #66CCFF;
    font-family: sans-serif;
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.todoListMain .header input {
    margin: 20px;
    width: 260px;
}

.todoListMain .header button {
    margin-top: 20px;
    margin-left: 10px;
}

ul.theList {
    padding: 0;
    list-style: none;
    display: inline-flex;
    justify-content: left;
    flex-direction: column-reverse;
}

.theList li {
    color: #333;
    background-color: rgba(255, 255, 255, .5);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    border-radius: 5px;
    transition: background-color .2s ease-out;
    /*border: 1px solid #66CCFF;*/
    width: 338px;
    text-align: left;
}

.todoListMain .theList li:hover {
    background-color: pink;
    cursor: pointer;
}
